/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  word-wrap: break-word; 
  /* -webkit-hyphens: auto; */
}

/*End-reset*/

/*Site Wide*/
body {
	font-family: "Museo-300", Georgia, "Times New Roman", Times, serif;
}

/*List*/

li > ol,
li > ul, 
li > dl, 
ol > ul, 
ul > ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;

}

ol > li, ul > li {
	line-height: 1.5em;
	font-size: 1em;
	font-weight: 300;
}



blockquote, 
table, 
ul, 
ol, 
dl {
	text-align: justify;
	margin: 1em 0 1em 0em;
	}

p {
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 300;
	text-align: justify;
}

p + p{
	/*text-indent: 2em;*/
	margin: 1em 0 0 0;
}

h2,h3,h4,h5,h6 {
	font-family: "Museo-700", "Lucida Grande", Lucida, Verdana, sans-serif;
}
h2 {
	margin: 100px 0 0px 0;
	text-align: center;
	font-size: 2em;
	font-weight: 700;
}

h3 {
	font-size: 1.25em;
	font-weight: 700;
	margin: 2em 0 1em 0;
	text-align: center;
}

h4 {
	text-align: left;
	margin: 1em 0;
	font-size: .9em;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid #d86e01;
}

a:hover {
/*	background: #d86e01;*/
	color: #d86e01;
}

/*Code*/
pre {
	margin: 1em 0;
	padding: 1em;
	font: 1em monospace;
	background: #eaeaea;
	display: block;
}
	/*For MathJax*/
code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}




/*Menu*/

#site_nav{
	border-bottom:dashed 1px #aaa;
}
#site_menu, #site_name {
	font-size: .75em;
	letter-spacing: .05em;
	list-style-type:none;
 	margin-top: 0;
 	margin-bottom: 0;
 	border: none;
}

#site_name a{
	float: left;
	font-weight: 700;
	color: #d86e01;
	padding: .75em 0;
	text-decoration:none;
	border: none;
/*	margin: 0;*/
}


#site_menu a{
	display: block;
	font-weight: 500;
	text-transform: uppercase;
	padding: .75em 0;
	text-decoration:none;
	float:right;
	margin-left:1.5em;
	color: black;
	border: none;
}


#site_menu a:hover, #site_name a:hover {
 	color: #d86e01;
 	background: none;
	}
#site_menu li {display:inline;}

/*Post/page Ending*/
#end-sign, .pagination{
	margin-top: 1em ;
	margin-bottom: 1em;
	Sides are dictate by grids css
}

#end-sign a, .pagination a{
	text-decoration: none;
	color: gray;
	font-weight: 300;
	font-size: .9em;
	border: none;
}

#end-sign a:hover, .pagination a:hover{
	text-decoration: none;
	color: #d86e01;
	font-weight: 300;
	font-size: .9em;
	background: none;
}
/*Post Specific*/


#post_content .date {
	text-align: center;
	margin: .5em 0 5em 0;
	text-transform: uppercase;
	font-size: .75em;
	font: 500;
}

/*TOC*/
#toc {
	padding: 0 0 0 0;
	margin: 0 0em;
}



ol#toc li:hover {
	color: #d86e01;
}


ol#toc li {
	clear:left;
	border-bottom:dashed 1px #aaa;
	padding: .5em 0;
	position:relative;
	line-height: 2em;
	font-weight: 500;
	list-style: decimal inside;
	/*text-transform: uppercase;*/
}

ol#toc li:Last-Child{
	border-bottom: none;
}
#toc a, #toc span {
	text-decoration: none;
	float:left;
	color: inherit;
	position:absolute;
	border: none;
}

#toc a:hover{
	background: inherit;
	color: inherit;
	
}
ol#toc span {
	right:0;
	border: none;
}

/* Comment */

#disqus_thread {
	padding-top: 1em;
	border-top: 1px dashed gray;
}
